/* Typography Base
   ========================================================================== */
   h1, h2,h3, h4, h5, h6 {
    font-family: $raleway;
  }
  
  h1 {
    @include relative-converter(font-size, rem, $xxxxx-large, 16);
    font-weight: $bold;
  }
  
  h2 {
    @include relative-converter(font-size, rem, $xxxx-large, 16);
    font-weight: $bold;
  }
  
  h3 {
    @include relative-converter(font-size, rem, $xxx-large, 16);
  }
  
  h4 {
    @include relative-converter(font-size, rem, $xx-large, 16);
  }

  h5 {
    @include relative-converter(font-size, rem, $x-large, 16);
  }

  h6 {
    @include relative-converter(font-size, rem, $large, 16);
  }


  small {
    @include relative-converter(font-size, rem, $small, 16);
  }

  p {
    font-family: $open-sans;
    font-size: $medium;
    line-height : 2em;
  }
  
  